.box-header{
	min-height: 40px;
}

.filters .box-header{
	text-align: center;
}

.text-small{
	font-size: 75%;
}

.modebar{
	display: none !important;
}

.small-box{
	border-radius: 8px;
}

.footer{
	background: #f4f4f4;
	border-radius: 60px;
	padding: 5px;
}

.sidebar {
    color: #FFF;
    position: fixed;
    width: 220px;
    white-space: nowrap;
    overflow: visible;
}